body {
  font-family: 'Roboto', sans-serif;
  padding-right: 10%;
  padding-left: 10%;
}

div {
  width: 100%;
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 5px;
}

/*table stying*/

table {
  background-color: white;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid black;
}

table.confirm {
  table-layout: fixed;
}


thead {
  background-color: #990000;
  color: white;
}

thead tr {
  height: 40px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody {
  width: 50%;
}

td {
  padding: 5px;
}

td.confirm {
  width: 50%;
}


/*form field styling*/


input[type=text], input[type=phone], input[type=date], input[type=password], select {
  width: 100%;
  max-width: 800px;
  height: 40px;
  border: 1px solid #ccc;
  padding: 10px;
}

select {
  box-shadow: 0px 2px 2px 1px #ccc;
  background-color: white;
}

p {
  margin-bottom: 20px;
  line-height: 1.5;
}

/*submit button styling*/
input[type=submit], button {
  box-shadow: 2px 3px 2px 2px #ccc;
  background-color: #990000;
  color: white;
  border-radius: 5px;
  border: none;
  width: 300px;
  height: 40px;
  font-size: 16px;
}
